<td>{{ form_widget(form.mouza) }}</td>
<td>{{ form_widget(form.dagNumber) }}</td>
<td>{{ form_widget(form.purchasedTotalArea) }}</td>
<td>
    <a class="btn red btn-sm remove" href="javascript:;">
        <i class="fa fa-times"></i>
    </a>
</td>
